/* CSS Document */


div#background
{
   position: fixed;
   top: 0px;
   left: 0px;
 }

 div#background img
 {
   width: 100%;
   height: 100%;
  }
  

body {
	font: 16px "Palatino Linotype", Palatino, serif; 
	background-image: url(a.gif); 
	text-align:justify;
  
}

td {
	font: 16px "Palatino Linotype", Palatino, serif;
}

p { 
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
	font-family: "Palatino Linotype", Palatino, serif;
	font-size: 34px; 
	color:#000080;
}

h2 {
	font-family: "Palatino Linotype", Palatino, serif;
	font-size: 26px; 
	color:#000080;
}
  
h3 {
	font-family: "Palatino Linotype", Palatino, serif;
	font-size: 18px;
	color:#000080;
}

a {text-decoration: none; }

a:link, a:visited, a:hover {
	color: blue;   
}




.introimage {
	float: right; 
        margin-right:  25px; 
	margin-left:   25px;  
}

.foot {
	margin-top:  20px;
	border-top:  2px solid silver;
	padding-top: 0px; 
	font: 14px "Palatino Linotype", Palatino, serif;
	font-style: italic;
}
 
 
.line-through {
    text-decoration: line-through;
}
 